<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>HTML template 2col_left_seo.html</title>
</head>
<body>
<div id="page_margins">
	<div id="page">
		<div id="header">...</div>
		<div id="nav">...</div>
		<div id="main">
			<div id="teaser">...</div>
			<div id="col1">
			  <a id="content" name="content"></a>
				<div id="col1_content" class="clearfix">...</div>
			</div>
			<div id="col3">
				<div id="col3_content" class="clearfix">
					<div class="floatbox">
						<ul id="submenu"><li>...</li></ul>
						<div class="selectorBox">...</div>
						<div class="textBelowMenu">...</div>
					</div>
				</div>
				<div id="ie_clearing">&nbsp;</div>
			</div>
		</div>
		<div id="footer">...</div>
	</div>
</div>
</body>
</html>
